<p>producto works!</p>

<div class="row">
    <div class="col-3 mb-2">
        <div class="card w-100 h-100 m-1">
            
            <div class="card-body">
                <h5 class="card-title text-center"></h5>
                <p class="card-text">
                    {{producto | json}}
                    Aca va la descripcion del producto 
                    me olvide de agregarla al ProductoModel
                    Pero entonces pongo un texto hardcodeado
                </p>
            </div>
            <div class="card-footer text-end">
                Cantidad : 
            </div>
        </div>
    </div>

</div>