<div class="container">
    <div class="row">
        <div class="col-12 mt-lg-5">
            <div id="error-page">
                <div class="content">
                   <h2 class="header" data-text="404">
                      404
                   </h2>
                   <h4 data-text="Opps! Page not found">
                    <b> ¡Opps! Página no encontrada</b>
                   </h4>
                   <p>
                    <b>Lo sentimos, la página que estás buscando no existe. Si cree que algo está roto, informe el problema.</b>
                   </p>
                   <div class="btns">
                      <a href="http://localhost:4200/home/">Retorna al Home</a>
                      <a href="http://localhost:4200/contacto/">Reportar el Problema</a>
                   </div>
                </div>
             </div>
            
        </div>
    </div>
</div>