<div class="container py-4 animated fadeIn">
    <header class="pb-3 mb-4 border-bottom">
      <a routerLink="/productos" class="d-flex align-items-center text-dark text-decoration-none">
        <i class="bi bi-cart text-primary" style=" font-size: 30px; margin-right: 15px;"></i>
        <span class="fs-4">Conocé las distintas canastas con Precios Cuidados</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-muted">Precios Cuidados</h1>
        <p class="col-md-8 fs-4">Precios acordados por el Estado Nacional para que tus ingresos rindan más.</p>
        <p class="col-md-8 fs-4">Entra y observa los precios de tu localidad...</p>
        <button class="btn btn-primary btn-lg" routerLink="/productos" type="button">Entrar</button>
      </div>
    </div>


  </div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" class="card-img-top" alt="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" class="card-img-top" alt="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" class="card-img-top" alt="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" class="card-img-top" alt="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>


  </div>