<div class="container py-4 animated fadeIn">
    <header class="pb-3 mb-4 border-bottom">
      <a routerLink="/productos" class="d-flex align-items-center text-dark text-decoration-none">
        <i class="bi bi-cart text-primary" style=" font-size: 30px; margin-right: 15px;"></i>
        <span class="fs-4">Conocé las distintas canastas con Precios Cuidados</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-muted">Precios Cuidados</h1>
        <p class="col-md-8 fs-4">Precios acordados por el Estado Nacional para que tus ingresos rindan más.</p>
        <p class="col-md-8 fs-4">Entra y observa los precios de tu localidad...</p>
        <button class="btn btn-primary btn-lg" routerLink="/productos" type="button">Entrar</button>
      </div>
    </div>


  </div>



  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">

          <!-- Inicio CARD 1 Izquierda -->
          <div class="card">

            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title">¿Qué es Precios Justos?</h3>
              </div>
            </div>

            <div class="card-body text-center">
              <i class="bi bi-currency-dollar text-primary" style="font-size: 120px;"></i>
              <div class="d-flex">
                <p class="d-flex flex-column">
                  <span class="h4 text-muted">Una medida que fija los precios de más de 1.900 productos de primera necesidad por 120 días, mediante acuerdos voluntarios con empresas productoras y comercializadoras.</span>
                </p>
              </div>
            </div>

          </div>
          <!-- /.card -->

          <!-- Inicio CARD 2 Izquierda -->
          <div class="card mt-3">

            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title">¿Para qué sirve la App?</h3>
              </div>
            </div>

            <div class="card-body text-center">
              <i class="bi bi-file-arrow-down text-primary" style="font-size: 120px;"></i>
              <div class="d-flex">
                <p class="d-flex flex-column">
                  <span class="h4 text-muted">Para escanear el código de barras de cada producto y saber si está alcanzado por la medida. Además, vas a poder reportar inconvenientes.</span>
                </p>
              </div>
            </div>

          </div>
          <!-- /.card <i class="bi bi-shop"></i> -->

        </div>


        
        <!-- /.col-md-6 -->
        <div class="col-lg-6">
          
          <!-- Inicio CARD 1 Derecha -->
          <div class="card mt-3">

            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title">¿Dónde los encuentro?</h3>
              </div>
            </div>

            <div class="card-body text-center">
              <i class="bi bi-shop text-primary" style="font-size: 120px;"></i>
              <div class="d-flex">
                <p class="d-flex flex-column">
                  <span class="h4 text-muted">En los supermercados, distribuidores mayoristas y comercios adheridos al programa por provincia o región. Busca los precios en tu localidad </span>
                </p>
              </div>
            </div>

          </div>
          <!-- /.card -->

          <!-- /.card -->

         <!-- Inicio CARD 2 Derecha -->
         <div class="card mt-3">

          <div class="card-header border-0">
            <div class="d-flex justify-content-between">
              <h3 class="card-title">Aplicación y BOT de consultas</h3>
            </div>
          </div>

          <div class="card-body text-center mt-2">
            
            <a   href="https://www.argentina.gob.ar/aplicaciones/precios-justos" class="btn btn-outline-primary btn-lg"> Descargá la aplicación </a>

              <p class=" text-center mt-4">
                <i class="bi bi-whatsapp text-success " style="font-size: 80px"></i>
              </p>
              <p class=" text-center">¿Tenés dudas o consultas?</p>
              <a href="https://wa.me/5491128790887" title="" class="btn btn-success btn-sm" target="_blank" rel="noreferrer">Comunicate con nuestro BOT</a>

          </div>

        </div>
        <!-- /.card -->

        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>





